In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
# df = pd.read_csv('Entrenamiento_1.csv')

df = pd.read_csv('./Entrenamiento_1.csv',
                dtype={
                    'ID': 'int',
                    'Region': 'category',
                    'Territory': 'category',
                    # 'Pricing, Delivery_Terms_Quote_Approval': 'bool',
                    'Pricing, Delivery_Terms_Approved': 'bool',
                    'Bureaucratic_Code_0_Approval': 'bool',
                    'Bureaucratic_Code_0_Approved': 'bool',
                    'Submitted_for_Approval': 'bool',
                    'Bureaucratic_Code': 'category',
                    # 'Account_Created_Date': 'datetime64',
                    'Source': 'category',
                    'Billing_Country': 'category',
                    'Account_Name': 'category',
                    'Opportunity_Name': 'category',
                    'Opportunity_ID': 'int',
                    # 'Sales_Contract_No': 'int',
                    'Account_Owner': 'category',
                    'Opportunity_Owner': 'category',
                    'Account_Type': 'category',
                    'Opportunity_Type': 'category',
                    'Quote_Type': 'category',
                    'Delivery_Terms': 'category',
                    # 'Opportunity_Created_Date': 'datetime64',
                    'Brand': 'category',
                    'Product_Type': 'category',
                    'Size': 'category',
                    'Product_Category_B': 'category',
                    # 'Price': 'float',
                    'Currency': 'category',
                    'Last_Activity': 'category',
                    # 'Quote_Expiry_Date': 'datetime64',
                    # 'Last_Modified_Date': 'datetime64',
                    'Last_Modified_By': 'category',
                    'Product_Family': 'category',
                    'Product_Name': 'category',
                    'ASP_Currency': 'category',
                    'ASP': 'float',
                    'ASP_(converted)_Currency': 'category',
                    'ASP_(converted)': 'float',
                    # 'Planned_Delivery_Start_Date': 'datetime64',
                    # 'Planned_Delivery_End_Date': 'datetime64',
                    # 'Month': 'datetime64?',
                    'Delivery_Quarter': 'category',
                    # 'Delivery_Year': 'datetime64?',
                    # 'Actual_Delivery_Date': 'datetime64',
                    'Total_Power': 'int',
                    'Total_Amount_Currency': 'category',
                    'Total_Amount': 'float',
                    'Total_Taxable_Amount_Currency': 'category',
                    'Total_Taxable_Amount': 'float',
                    'Stage': 'category',
                    'Prod_Category_A': 'category',
                    'Total_Power_Discreet': 'category'
                })
df.head()

,Unnamed: 0,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Approval","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Bureaucratic_Code,Account_Created_Date,...,Planned_Delivery_End_Date,Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage
0,0,27761,EMEA,None,True,True,True,True,Bureaucratic_Code_4,2015-06-16,...,2016-06-30,2016-05-01,Q2,2016,10,EUR,5272800.0,EUR,5272800.0,Closed Lost
1,1,27760,EMEA,None,False,False,False,False,Bureaucratic_Code_4,2015-06-16,...,2016-01-20,2016-01-01,Q1,2016,0,EUR,48230.0,EUR,48230.0,Closed Won
2,2,27446,Americas,NW America,False,False,False,False,Bureaucratic_Code_4,2015-04-21,...,2016-01-25,2016-01-01,Q1,2016,0,USD,83865.6,USD,83865.6,Closed Won
3,3,16808,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,2018-03-31,2018-02-01,Q1,2018,14,USD,7421881.5,USD,7421881.5,Closed Lost
4,4,16805,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,2018-02-28,2018-02-01,Q1,2018,25,USD,13357192.5,USD,13357192.5,Closed Lost

In [3]:
df.head()

,Unnamed: 0,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Approval","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Bureaucratic_Code,Account_Created_Date,...,Planned_Delivery_End_Date,Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage
0,0,27761,EMEA,None,True,True,True,True,Bureaucratic_Code_4,2015-06-16,...,2016-06-30,2016-05-01,Q2,2016,10,EUR,5272800.0,EUR,5272800.0,Closed Lost
1,1,27760,EMEA,None,False,False,False,False,Bureaucratic_Code_4,2015-06-16,...,2016-01-20,2016-01-01,Q1,2016,0,EUR,48230.0,EUR,48230.0,Closed Won
2,2,27446,Americas,NW America,False,False,False,False,Bureaucratic_Code_4,2015-04-21,...,2016-01-25,2016-01-01,Q1,2016,0,USD,83865.6,USD,83865.6,Closed Won
3,3,16808,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,2018-03-31,2018-02-01,Q1,2018,14,USD,7421881.5,USD,7421881.5,Closed Lost
4,4,16805,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,2018-02-28,2018-02-01,Q1,2018,25,USD,13357192.5,USD,13357192.5,Closed Lost

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 49 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Unnamed: 0                              16947 non-null  int64
 1   ID                                      16947 non-null  int64
 2   Region                                  16947 non-null  category
 3   Territory                               16947 non-null  category
 4   Pricing, Delivery_Terms_Quote_Approval  16947 non-null  bool
 5   Pricing, Delivery_Terms_Approved        16947 non-null  bool
 6   Bureaucratic_Code_0_Approval            16947 non-null  bool
 7   Bureaucratic_Code_0_Approved            16947 non-null  bool
 8   Bureaucratic_Code                       16947 non-null  category
 9   Account_Created_Date                    16947 non-null  object
 10  Source                                  16947 non-null  object
 11  Billing_Country                         16947 non-null  category
 12  Account_Name                            16947 non-null  category
 13  Opportunity_Name                        16947 non-null  category
 14  Opportunity_ID                          16947 non-null  int64
 15  Sales_Contract_No                       16947 non-null  object
 16  Account_Owner                           16947 non-null  category
 17  Opportunity_Owner                       16947 non-null  category
 18  Account_Type                            16947 non-null  category
 19  Opportunity_Type                        16947 non-null  category
 20  Quote_Type                              16947 non-null  category
 21  Delivery_Terms                          16947 non-null  category
 22  Opportunity_Created_Date                16947 non-null  object
 23  Brand                                   16947 non-null  category
 24  Product_Type                            16947 non-null  category
 25  Size                                    16947 non-null  category
 26  Product_Category_B                      16947 non-null  category
 27  Price                                   16947 non-null  object
 28  Currency                                16947 non-null  category
 29  Quote_Expiry_Date                       12322 non-null  object
 30  Last_Modified_Date                      16947 non-null  object
 31  Last_Modified_By                        16947 non-null  category
 32  Product_Family                          16947 non-null  category
 33  Product_Name                            16947 non-null  category
 34  ASP_Currency                            16947 non-null  category
 35  ASP                                     13738 non-null  float64
 36  ASP_(converted)_Currency                16947 non-null  category
 37  ASP_(converted)                         13738 non-null  float64
 38  Planned_Delivery_Start_Date             16947 non-null  object
 39  Planned_Delivery_End_Date               16872 non-null  object
 40  Month                                   16947 non-null  object
 41  Delivery_Quarter                        16947 non-null  category
 42  Delivery_Year                           16947 non-null  int64
 43  TRF                                     16947 non-null  int64
 44  Total_Amount_Currency                   16947 non-null  category
 45  Total_Amount                            16888 non-null  float64
 46  Total_Taxable_Amount_Currency           16947 non-null  category
 47  Total_Taxable_Amount                    16947 non-null  float64
 48  Stage                                   16947 non-null  category
dtypes: bool(4), category(26), float64(4), int64(5), object(10)
memory usage: 3.5+ MB

In [5]:
df['Region'].value_counts()

Japan          4892
EMEA           4664
Americas       3945
APAC           3262
Middle East     184
Name: Region, dtype: int64

In [6]:
df['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [7]:
df['ASP_(converted)_Currency'].value_counts()

USD    16947
Name: ASP_(converted)_Currency, dtype: int64

In [8]:
df['indice_convertidor']=df['ASP_(converted)']/df['ASP']
df.head()

,Unnamed: 0,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Approval","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Bureaucratic_Code,Account_Created_Date,...,Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,indice_convertidor
0,0,27761,EMEA,None,True,True,True,True,Bureaucratic_Code_4,2015-06-16,...,2016-05-01,Q2,2016,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,1.131096
1,1,27760,EMEA,None,False,False,False,False,Bureaucratic_Code_4,2015-06-16,...,2016-01-01,Q1,2016,0,EUR,48230.0,EUR,48230.0,Closed Won,1.131094
2,2,27446,Americas,NW America,False,False,False,False,Bureaucratic_Code_4,2015-04-21,...,2016-01-01,Q1,2016,0,USD,83865.6,USD,83865.6,Closed Won,1.000000
3,3,16808,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,2018-02-01,Q1,2018,14,USD,7421881.5,USD,7421881.5,Closed Lost,1.000000
4,4,16805,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,2018-02-01,Q1,2018,25,USD,13357192.5,USD,13357192.5,Closed Lost,1.000000

In [9]:
df['Total_Amount(converted)']=(df['Total_Amount']*df['indice_convertidor'])//1
df['indice_convertidor'].value_counts()

1.000000    6837
1.131100     253
1.131083     234
1.131105     230
1.131095     219
            ...
0.009060       1
0.008886       1
0.008982       1
1.131080       1
1.131101       1
Name: indice_convertidor, Length: 201, dtype: int64

In [10]:
df.head()

,Unnamed: 0,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Approval","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,indice_convertidor,Total_Amount(converted)
0,0,27761,EMEA,None,True,True,True,True,Bureaucratic_Code_4,2015-06-16,...,Q2,2016,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,1.131096,5964043.0
1,1,27760,EMEA,None,False,False,False,False,Bureaucratic_Code_4,2015-06-16,...,Q1,2016,0,EUR,48230.0,EUR,48230.0,Closed Won,1.131094,54552.0
2,2,27446,Americas,NW America,False,False,False,False,Bureaucratic_Code_4,2015-04-21,...,Q1,2016,0,USD,83865.6,USD,83865.6,Closed Won,1.000000,83865.0
3,3,16808,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,14,USD,7421881.5,USD,7421881.5,Closed Lost,1.000000,7421881.0
4,4,16805,Americas,NW America,True,False,True,False,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,25,USD,13357192.5,USD,13357192.5,Closed Lost,1.000000,13357192.0

In [23]:
df_closed=df.loc[(df['Stage']=='Closed Lost') | (df['Stage']=='Closed Won')]
df_closed['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Qualification       0
Proposal            0
Negotiation         0
Name: Stage, dtype: int64

In [24]:
closed= df_closed.groupby(['Region','Delivery_Year','Stage'])\
.agg({'Opportunity_ID':['count'],'Total_Amount(converted)':['sum']}).dropna()
closed.head()

                                 Opportunity_ID Total_Amount(converted)
                                          count                     sum
Region Delivery_Year Stage
APAC   2016          Closed Lost            185            3.032875e+08
                     Closed Won             365            4.496674e+07
       2017          Closed Lost            427            1.090661e+09
                     Closed Won             846            9.705494e+07
       2018          Closed Lost            660            1.686024e+09

In [25]:
level0 = closed.columns.get_level_values(0)
level1 = closed.columns.get_level_values(1)
closed.columns= level0 + '_' + level1
closed =closed.reset_index()
closed.head()

,Region,Delivery_Year,Stage,Opportunity_ID_count,Total_Amount(converted)_sum
0,APAC,2016,Closed Lost,185,3.032875e+08
1,APAC,2016,Closed Won,365,4.496674e+07
2,APAC,2017,Closed Lost,427,1.090661e+09
3,APAC,2017,Closed Won,846,9.705494e+07
4,APAC,2018,Closed Lost,660,1.686024e+09

In [26]:
closed['Opportunity_ID_count'].sum()

16883

# GrÃ¡ficos

In [15]:
def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom')

In [22]:
closed.head()

                                  Opportunity_ID_count
Region Delivery_Year Stage
APAC   2016          Closed Lost                 185.0
                     Closed Won                  365.0
       2017          Closed Lost                 427.0
                     Closed Won                  846.0
       2018          Closed Lost                 660.0

In [18]:
closed = closed.groupby(by=['Region', 'Delivery_Year', 'Stage']).agg({'Opportunity_ID_count': ['sum']}).dropna()

In [19]:
closed = closed.reset_index()
closed.columns = closed.columns.get_level_values(0)

In [21]:
regiones = closed['Region'].cat.categories

fig = plt.figure(figsize=[10,10])
for i, region in enumerate(regiones):
    fig = plt.figure(figsize=[10,10])
    tmp = closed.loc[closed['Region'] == region]
    tmp = tmp.pivot(index='Delivery_Year', columns='Stage', values='Opportunity_ID_count')
    ax = fig.add_subplot(1,1,1) # (3,2, i+1)
    tmp.plot.bar(ax=ax)
    for graficoDeBarras in ax.containers[:]:
        autolabel(graficoDeBarras)
    ax.set_title(f'EvoluciÃ³n de oportunidades - RegiÃ³n: {region}')
    ax.set_xlabel('')
    plt.xticks(rotation=0)
    ax.grid()

plt.show()

KeyError: 'Region'

## Figura 11, 12, 13, 14, y 15

In [ ]:
df['Total_Amount(converted)']

In [ ]:
import matplotlib
import squarify

In [ ]:
pie = df.loc[:,['Opportunity_ID','Total_Amount(converted)','Stage']]
##Podemos observar que tenemos valores nulos en Total_Amount
pie = pie.drop_duplicates(subset = ["Opportunity_ID"])
pie = pie.dropna(subset = ["Total_Amount(converted)"])
pie = pie.groupby('Stage').agg({'Total_Amount(converted)':'mean'})
pie=pie.reset_index()
pie = pie.sort_values(by="Total_Amount(converted)",ascending=False)
names = pie['Stage']
size = pie['Total_Amount(converted)']
pie.head()

In [ ]:
squarify.plot(sizes=size, label=names, color=["red","green","blue", "grey","yellow"],alpha=.5 )

fig = plt.gcf()
ax = fig.add_subplot()
fig.set_size_inches(16, 4.5)

plt.title("Promedio de Total_Amount(converted) segÃºn Stage",fontsize=20,fontweight="bold")
plt.axis('off')
plt.show()

In [ ]:
scatter = df.loc[:,['Opportunity_Name','Total_Amount(converted)','ASP_(converted)','Stage']]

scatter = scatter.drop_duplicates(subset = ["Opportunity_Name"])
scatter['Total_Amount(converted)']= scatter['Total_Amount(converted)'].fillna(0)
scatter['ASP_(converted)']= scatter['ASP_(converted)'].fillna(0)

In [ ]:
import seaborn as sns

g=sns.relplot(x="Total_Amount(converted)", y="ASP_(converted)",
              hue="Stage", style="Stage",
            kind="scatter", data=scatter).axes.flatten()
g[0].set_title("Relacion del estado entre ASP vs Monto total",fontsize=15)
g[0].set_xlabel("Monto Total (USD)",fontsize=10)
g[0].set_ylabel("Precio promedio de la venta (USD)",fontsize=10)

In [ ]:
scatter = scatter.loc[scatter['ASP_(converted)'] < 10]

In [ ]:
g=sns.relplot(x="Total_Amount(converted)", y="ASP_(converted)",
              hue="Stage", style="Stage",
            kind="scatter", data=scatter).axes.flatten()
g[0].set_title("Relacion del estado entre ASP vs Monto total",fontsize=15)
g[0].set_xlabel("Monto Total (USD)",fontsize=10)
g[0].set_ylabel("Precio promedio de la venta (USD)",fontsize=10)